*{
	all: unset;
	padding: 0px;
	margin: 0px;
}

body{
	background-image: url(bground.gif);
	background-size: cover;
}

.top{
	width: 100%;
	height: 125px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.up{
	width: 95%;
	height: 100px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-radius: 15px;
	backdrop-filter: blur(75px);
}

.up img{
	height: 85px;
}

.btn{
	background-color: transparent;
	border: none;
	color: black;
	cursor: pointer;
	display: inline-block;
}

.right{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.left{
	width: 50px;
	height: 50px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.main{
	width: 100%;
	height: 725px;
	margin-top: 10px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mid{
	width: 95%;
	height: 675px;
	background-color: black;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	backdrop-filter: blur(75px);
}

.cont1{
	width: 250px;
	height: 550px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
}


.cont2{
	width: 250px;
	height: 550px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
}


.bot{
	width: 100%;
	height: 92px;
	margin-top: 10px;
	background-color: transparent;
	display: flex;
	align-items: center;
	justify-content: center;
}

.cbot{
	width: 95%;
	height: 68px;
	background-color: black;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
	backdrop-filter: blur(75px);
}

.contB{
	width: 250px;
	height: 50px;
	background-color: white;
	border-radius: 15px;
	text-align: center;
}